body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Salsa', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteiner{
  width: 100%;
  max-width:1000px;
  margin: 0 auto;
  overflow: hidden;
  color: #C93384;
  background-color: #FFC1FF;
}

.conteinerHeader{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.logoSecretos{
  width:70%;
} 

.logoDoveSecretos{
  width:30%;
  float: left;
}

#conteinerWelcome{
  width:90%;
  margin: auto;
} 

.welcome{
  font-size: 2rem;
} 

#lema{
  font-size: 1rem;
}

.container{
  display:flex;
  justify-content: center;
}

#containerForm{
  width:90%;
  background-color: #E44F9C;
  box-sizing: border-box;
  border-radius: 5px;
}

.input{
  position: relative;
  width:90%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  outline: none;
  border: 0;
  font-size: 1rem;
  color: black;
  font-family: 'Salsa', cursive;
  border: solid 2px  #FFffFF;
  box-sizing: border-box;
}

#PrefijoTelfono{
  width:20%;
}

#destino{
  width:61%;
}

.input:focus{
  border-color:  #C93384;
}

section{
  padding:  20px 20px 20px 20px;
}

.button{
  font-family: 'Salsa', cursive;
  color: #ffff;
  background-color: #C93384;
  font-size: 0.9rem;
  border: solid 2px  #C93384;
  border-radius: 5px;
  width: 32%; 
  height: 50px;
  margin:auto;
}

#enlaceInfo{
  line-height: 1.4; /*Para  establecer la distancia entre líneas de texto*/
  font-size: 0.7rem;
}

a:link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #E44F9C;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background: #FFC1FF;
  width: 250px;
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-height: 50%;
  overflow: scroll; /*Para Agregar scroll dentro del div*/
}

#modal{
  background: #FFFFFF;
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  text-align: center; 
  margin: 20px 0px;
  word-wrap: break-word;/*Para evitar que un texto salga de un div en HTML.*/
}

#modal,p , ol{
  font-size: 0.7rem;
}

#modal,h1 {
  font-size: 1rem;
}

#modal,h4{
  font-size: 0.8rem;
}

#enviar{
  /* outline: none; */
  border: 0;
  border-radius: 5px;
  float: left; /*Para Ubicar el boton a la izquierda*/
}


#cerrar{
  background-color:#E44F9C;;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 4px 8px 4px 8px;
  margin-left: 93%;
  margin-top: 2%;
  border-radius: 14px;
  border:none;
}

divInformacion{
  width: 100%;
}

divInformacion p,ol{
  text-align: justify;
}

/* Scroll Personalizado */
.modal::-webkit-scrollbar {
	width: 7px;
}

.modal::-webkit-scrollbar-thumb {
	background: #E44F9C;
	border-radius: 5px;
}

/* Para dar formato a una Linea creada en HTML */
hr {
  border: 0;
  border-top: 2px solid #FFC1FF; 
  border-bottom: 2px solid #FFC1FF; 
  height:0;
  }